@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;    
    letter-spacing: 0.025rem;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.purple {
    color: rgb(100 21 255);
}

#landing {
    padding: 32px 32px;
    min-height: 100vh;
    overflow: hidden;
}

.nav {
    display: flex;
    height: 100%;
    max-height: 44px;
    justify-content: space-between;
}

.nav__links--wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__links--list {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    justify-content: flex-end;
}

.nav__link {
    color: rgb(32, 59, 66);
}
.nav__links--list__item {
    margin: 0 0px;
    padding: 0 24px;
    font-weight: 600;
    font-size: 0.875rem;
}

.nav__links--button {
    padding: 0 0 0 2px;
}

.nav__link--login {
    color: rgb(29, 61, 71);
    margin: 0 0px 0 22px;
}

.nav__btn {
    padding: 12px 32px;
    border-radius: 9999px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.025rem;
    background-color: rgb(100 21 255);
    align-self: flex-end;
    border: none;
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
}
.logo {
    height: 40px;
    width: 40px;
}

.title {
    color: rgb(29, 61, 71);
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 900;
}

.main__description--input {
    border: inset 2px rgb(214, 214, 214);
    border-radius: 9999px;
    max-width: 480px;
    padding: 0 7px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease;
}

.main__description--input:hover {
    border: inset 2px rgb(143, 143, 143);
}

.main__description--email {
    border: none;
    font-size: 15px;
    opacity: 25%;
    padding-left: 20px;
    font-weight: bold;
    cursor: text;
    outline-style: none;
}

.email__btn {
    background-color: rgb(100 21 255);
    padding: 16px 32px;
    border-radius: 9999px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.main {
    height: 100vh;
    padding-top: 28px;
    width: calc(100% - 40%);
}

.main__wrapper {
    display: flex;
    justify-content: space-around;
    padding: 96px 0 0 0;
}

.main__img {
    max-width: 746px;
}
.main__img--wrapper {
    width: calc(100% - 40%);
}

.main__description--title {
    font-size: 48px;
    color: rgb(29, 29, 29);
    font-weight: 600;
}

.css__circle {
    position: absolute;
    background-color: rgba(99, 21, 255, 0.048);
    transform: rotate(30deg);
    height: 190px;
    width: 170px;
    border-radius: 9999px;
    z-index: 1;
    top: 585px;
    left: 70px
}