@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;    
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}


.txt__prpl {
    color: rgb(100 21 255);
}

.animation__enter-right {

}

.animation__enter-left {

}

.btn__prpl {
    background-color: rgb(100 21 255);
    cursor: pointer;
    border-radius: 9999px;
    color: white;
}

.column {
    max-width: calc(100% / 2);
    width: 100%;
}

.sect__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.7px;
}

.sect__subtitle {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 900;
    color: rgb(36, 62, 99);  
}

.sect__para {
    padding-top: 24px;
    line-height: 27px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(121, 136, 156);
}

/*

    SECTION 1

*/

#section1 {
    padding: 32px 32px;
}

.nav {
    display: flex;
    height: 100%;
    max-height: 44px;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
}

.logo {
    height: 40px;
    width: 40px;
}

.nav__title {
    color: rgb(29, 61, 71);
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 900;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;

}

.nav__link {
    color: rgb(36 62 99);
    padding: 0 26px;
    font-weight: 600;
    font-size: 14px;
}

.login {
    margin-left: 22px;
}

.nav__btn {
    padding: 12px 32px;
    font-weight: 600;
    letter-spacing: 0.4px;
    border: none;
}

.sect1__container {
    display: flex;
    padding-top: 100px;
    height: 83vh;
}

.sect1__email--container {
    border: solid 2px rgb(226, 232, 240);
    border-radius: 9999px;
    max-width: 448px;
    padding: 0 6px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease;
    cursor: text;
}

.sect1__email--container:hover {
    border: solid 2px rgb(173, 173, 173);
}

.sect1__email--input {
    border: none;
    font-size: 16px;
    width: 100%;
    max-width: 220px;
    opacity: 25%;
    padding-left: 24px;
    font-weight: bold;
    cursor: text;
    outline-style: none;
}

.email__btn {
    padding: 16px 34px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.sect1__column1 {
    padding-top: 28px;
    max-width: calc(100% - 58%);
    width: 100%;
    text-align: left;
}

.sect1__img {
    max-width: 760px;
    width: 100%;
}
.sect1__column2 {
    max-width: calc(100% - 40%);
}

.sect1__title {
    font-size: 48px;
    color: rgb(29, 29, 29);
    font-weight: 600;
}

.sect1__para {
    padding: 32px 0 32px 0;
    color: rgb(36, 62, 99);
    line-height: 27px;
    font-weight: 400;
    font-size: 18px;
}

.customers {
    margin-top: 80px;
}

.customers__para {
    color: rgb(160 174 192);
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0.55px;
    padding-bottom: 18px;
}

.customers__logos {
    max-width: 405px;
    opacity: 0.5;
}


/*

    SECTION 2

*/

#section2 {
}

.row2 {
    max-width: 1024px;    
    width: 100%;
    margin: 0 auto;
}

.heading {
    display: flex;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.features__para {
    max-width: 580px;
    text-align: center;
}

.service__list {
    padding: 66px 12px 100px 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service__list--item {
    max-width: calc(100% / 3.0);
    padding: 0 18px 80px 18px;
    width: 100%;
    display: flex;
}

.service__pic {
    padding: 4px;
    border: solid rgb(226, 226, 226) 1px;
    border-radius: 9999px;
    height: 65px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__pic--pic {
    width: 26px;
}

.service__description {
    padding: 4px  0 0 14px;
}

.service__description--para {
    color: rgb(136, 152, 175);
    font-size: 16px;
    padding-top: 16px;
    text-align: left;
    font-weight: 500;
    line-height: 32px;
}

.service__title {
    font-size: 24px;
    font-weight: bold;
    color: rgb(36, 62, 99);
}


/*

    SECTION 3

*/

#section3 {

}

.columns__container {
    display: flex;
    padding-top: 80px;
}
.sect3__column1 {
    padding-top: 30px;
    padding-right: 50px;
}

.sect3__column2 {
    padding-top: 16px;
}

.sect3__img {
    max-width: 100%;
    border: solid 1px rgb(219, 219, 219);
    border-radius: 4px;
}

.sect3__btn-container {
    padding-top: 28px;
}

.sect3__btn {
    padding: 16px 32px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    letter-spacing: 0.4px;
}

/* 

    SECTION 4

*/

#section4 {
    padding-top: 230px;
}

.step__num {
    font-size: 36px;
    font-weight: bold;
    color: rgb(203 213 224);
    opacity: 0.9;
}

.step__title {
    color: rgb(36, 62, 99);
    font-size: 19px;
    font-weight: 600;
}

.step__para {
    color: rgb(127, 142, 164);
    font-size: 14px;
    font-weight: 500;
    max-width: 340px;
    line-height: 2;
    padding-top: 12px;
}

.sect4__column1,
.sect4__column2 {
    padding-top: 10px;
}

.sect4__column1 {
    padding-top: 16px;
}
.sect4__column2 {
    margin-left: 64px;
}

.sect4__container {
    display: flex; 
    justify-content: center;
}

.steps__list {
    padding-top: 8px;
}

.step {
    padding-top: 32px;
    align-items: start;
    display: flex;
}

.step__description {
    padding-left: 24px;
}

.sect4__img {
    max-width: 640px;
    padding-top: 48px;
}




/*

    SECTION 5

*/

#section5 {
    padding-top: 250px;
}

.sect5__container {
    display: flex;
    justify-content: center;
}

.sect5__column2 {
    padding-top: 32px;
}

.sect5__column1 {
    padding-right: 64px;
}

.sect5__img {
    max-width: 680px;
    width: 100%;
}

.values__column2 {
    padding-left: 40px;
}

.values__container {
    padding-top: 24px;
    display: flex;
    margin-bottom: 24px;
}

.values1__title,
.values2__title {
    display: flex;
    align-items: center;
}

.value1,
.value2 {
    padding-left: 12px;
    font-size: 20px;
}

.value1__para,
.value2__para {
    padding-top: 12px;
    font-size: 16px;
    font-weight: 400;
    max-width: 270px;
    line-height: 1.5;
}

.svg__column1-container,
.svg__column2-container {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg__column1-container {
    background-color: rgb(154 230 180);
}

.svg__column2-container {
    background-color: rgb(254 178 178);
}

.briefcase {
    color: rgb(155 44 44);
}

.dollar-sign {
    color: rgb(39 103 73);
}

.sect5__btn {
    padding: 14px 31px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}

.sect5__btn--wrapper {
    padding-top: 24px;
}


/*

    SECTION 6

*/

#section6 {
    padding-top: 250px;
}

.description__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sect6__para {
    max-width: 580px;
    text-align: center;
}

.plans__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.plan {
    max-width: 384px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.281);
    margin-right: 22px;
    margin-left: 22px
  }

.plan2 {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    
  }

.color-top {
    height: 8px;
    width: 100%;
    max-width: 384px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.top1 {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.top2 {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.plan__title {
    font-size: 20px;
    font-weight: 700;
    color: rgb(26 32 44);
}

.plan__price {
    font-size: 46px;
    font-weight: 700;
    padding-top: 18px;
    color: rgb(26 32 44);
}

.plan__term {
    font-size: 16px;
    font-weight: 700;
    padding-top: 18px;
    color: rgb(160 174 192);
}

.pay-plan__container {
    padding: 44px 64px 32px 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.plan-info__container {
    border-top: solid 2px rgba(219, 219, 219, 0.568);
    border-bottom: solid 2px rgba(219, 219, 219, 0.568);
    padding: 22px 80px 32px 80px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.plan-info__title {
    color: rgb(26 32 44);
    padding: 20px 0;
    font-size: 19px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.plan-info2 {
    border-top: solid 2px rgb(102 126 234);
    border-bottom: solid 2px rgb(102 126 234);
}

.plan-info {
    color: rgb(113 128 150);
    font-weight: 500;
    padding: 10px 0;
}

.plan-btn__container {
    padding: 32px 0;
}

.plan-btn {
    padding: 18px 60px;
    border-radius: 9999px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    letter-spacing: 0.8px;
}

.plan1-btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan2-btn {
    background: rgb(252, 252, 252);
    color: rgb(100 21 255);
}

.plan3-btn {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.white {
    color: white;
}

.white2 {
    color: rgb(226 232 240);
}


/*

    SECTION 7

*/

#section7 {
    padding-top: 200px;
}

.sect7__container {
    display: flex;
}

.sect7__column1 {
    padding-top: 80px;
}

.sect7__column2 {
    padding-left: 66px;
}

.sect7__img {
    max-width: 100%;
    width: 100%;
}

.rating {
    padding-top: 40px;
    color: rgb(246, 173, 85);
}

.testimonial {
    line-height: 1.5;
}

.reviewer__img {
    max-height: 80px;
    max-width: 80px;
    width: 100%;
    height: 100%;
    border-radius: 999px;
}

.review__title {
    color: rgb(36 62 99);
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
}

.review__para {
    color: rgb(74 85 104);
    font-weight: 500;
    padding-top: 20px;
    line-height: 1.5;
}

.reviewer {
    display: flex;
    align-items: center;
}

.reviewer__name {
    color: rgb(36 62 99);
    font-size: 20px;
    padding-bottom: 6px;
}

.reviewer__company {
    color: rgb(124 139 161);
    font-weight: 500;
}

.reviewer__container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.reviewer__info {
    padding-left: 22px;
}

.arrows {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.arrow-left__container {
    margin-right: 12px;
}

.arrow-right__container {
    margin-left: 12px;
}
.arrow-divider {
    border-right: 1px solid rgb(220, 225, 231);
    height: 24px;
}

.arrow-left__container,
.arrow-right__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: rgb(237 242 247);
    border-radius: 999px;
    cursor: pointer;
}

/*

    SECTION 8

*/

#section8 {
    padding-top: 300px;
}

.decor {
    background-color: rgb(100 21 255);
    width: 100%;
    height: 282px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    width: 100%;
}

.sect__buttons {
    display: flex;
    align-items: center;
    padding-right: 30px;
    max-width: fit-content;
    width: 100%;
}

.contact__title {
    max-width: calc(100% / 2);
    width: 100%;
    font-size: 30px;
    line-height: 1.5;
    text-align: left;
    color: white;
    margin-left: 32px;
}

.start__btn,
.contact__btn {
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms ease;
}

.start__btn {
    color: rgb(247, 250, 252);
    background-color: rgb(245, 101, 101);
    border-radius: 9999px;
    border: transparent;
    cursor: pointer;
    margin-right: 32px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.start__btn:hover {
    background-color: rgb(245, 58, 58);
    transition: all 300ms ease;
}

.contact__btn {
    border: 1px solid white;
}

.contact__btn:hover {
    background-color: rgb(240, 240, 240);;
    color: rgb(100, 21, 255)
}



/*

    SECTION 9 / FOOTER

*/

#section9 {
    padding-top: 190px;
}

.sect9__container {
    background-color: rgb(100 21 255);
}

.divider {
    border-bottom: solid 2px rgb(120, 53, 255);
    border-right: solid 2px rgb(100 21 255);
}

.social__link {
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
}

.social__img {
    height: 14px;
    width: 14px;
}

.logo__white {
    height: 32px;
    width: 32px;
}

.footer__logo {
    width: fit-content;
    display: flex;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 22px;
    color: white;
    padding-left: 8px;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 90px 0;
}

.copyright {
    color: rgb(211, 211, 211);
    font-weight: 500;
    -moz-box-align: center;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 28px 0;
}

.footer__link {
    font-size: 14px;
    padding-bottom: 16px;
    font-weight: 500;
    color: rgb(240, 240, 240);
}


.footer__link:after {
    content: '';
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 2px;
    bottom: 11px;
    left: 0;
    background-color: rgb(240, 240, 240);
    transition: all 200ms ease-in-out;
}


.footer__link:hover:after {
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.category__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.category {
    font-size: 16px;
    padding-bottom: 28px;
    color: rgb(240, 240, 240);
}

.social__link-container {
    padding-left: 16px;
}

.enter-right {
    animation: enter-right 600ms ease;
}

.enter-left {
    animation: enter-left 600ms ease;
}

/*

    ANIMATIONS

*/
@keyframes enter-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-0%);
    }
}

@keyframes enter-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/*

    MEDIA SIZES

*/

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {

    /*  SECTION 1   */

    .sect1__container {
        padding-top: 68px;
    }

    .sect1__title {
        font-size: 30px;
    }

    .customers__logos {
        max-width: 600px;
        width: 100%;
    }

    .sect1__column2 {
        padding-top: 30px;
    }

    /*  SECTION 2   */

    #section2 {
        padding-top: 166px;
    }

    .sect2__subtitle {
        font-size: 50px;
    }

    .features__para {
        font-size: 14px;
        padding-top: 14px;
    }

    .service__list {
        flex-direction: column;
        align-items: center;
    }

    .service__list--item {
        max-width: 380px;
    }

    .service__pic {
        max-width: 65px;
    }

    .service__description--para {
        max-width: 250px;
    }

    /*  SECTION 3   */

    .columns__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sect3__column1,
    .sect3__column2 {
        max-width: 450px;
    }

    .sect3__column1 {
        padding: 60px 0 0 0;
        align-items: center;
        text-align: center;
    }

    .sect__subtitle {
        font-size: 36px;
        letter-spacing: 0.8px;
    }

    .sect__para {
        font-size: 14px;
        padding-top: 14px;
        line-height: 1.7;
    }

    .sect3__btn {
        padding: 14px 31px;
        font-size: 14px;
    }

    /*  SECTION 4   */

    .sect4__container {
        flex-direction: column;
        align-items: center;
    }

    .sect4__img {
        max-width: 450px;
    }

    .sect4__column1,
    .sect4__column2 {
        max-width: 100%;
        display: flex;
    }

    .sect4__column1 {
        align-items: center;
        justify-content: center;
    }

    .sect4__column2 {
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-top: 64px;
    }

    .steps__list {
        padding-top: 14px;
    }

    .step {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .step__description {
        display: flex;
        flex-direction: column;
        padding: 6px 0 0 0;
        max-width: 320px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    /*  SECTION 5   */

    #section5 {
        padding-top: 160px;
    }

    .sect5__container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .sect5__column1,
    .sect5__column2 {
        padding: 0 30px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sect5__column1 {
        padding: 66px 0 0 0;
        flex-direction: column;
        max-width: 450px;
        text-align: center;
    }

    .sect5__para {
        padding: 32px 0;
        line-height: 1.6;
    }

    .sect5__img {
        max-width: 450px;
    }

    .value1__para,
    .value2__para {
        max-width: 340px;
        font-size: 16px;
    }

    .values__container {
        padding-top: 12px;
        flex-direction: column;
    }

    .values__column1,
    .values__column2 {
        justify-content: center;
        padding: 0;
    }

    .values__column2 {
        padding-top: 36px;
    }

    .values1__title,
    .values2__title {
        justify-content: center;
    }

    /*  SECTION 6   */

    #section6 {
        padding-top: 200px;
        text-align: center;
    }

    .sect6__subtitle {
        font-size: 48px;
        max-width: 580px;
        line-height: 1.5;
    }

    .plans__container {
        flex-direction: column;
    }

    .plan-btn {
        padding: 18px 90px;
    }

    .plan {
        margin-bottom: 66px;
    }
}

/* SMALL PHONES */

@media (max-width: 500px) {

    * {
        text-align: center;
        letter-spacing: 0.020px;
        line-height: 1.25;
    }

    /*  SECTION 1   */

    #section1 {
        overflow: hidden;
    }

    .logo {
        width: 46px;
    }

    .nav__title {
        padding: 6px 0 0 0;
    }

    .nav__links {
        display: none;
    }

    .sect1__container {
        padding-top: 96px;
    }
    .sect1__title {
        font-size: 30px;
    }

    .sect1__email--container {
        height: 60px;
    }

    .sect1__email--input {
        padding: 0 0 0 26px;
        max-width: 300px;
        text-align: start;
        font-weight: 500;
    }

    .email__btn {
        position: absolute;
        margin-bottom: -146px;
        left: 32px;
        padding: 18px 120px;
        max-width: 300px;
        width: 100%;
        justify-self: center;
        display: flex;
    }

    .customers {
        padding-top: 70px;
    }

    .sect1__column2 {
        margin-top: -10px;
    }

    /*  SECTION 2   */

    #section2 {
        padding: 218px 24px 0 24px;
        overflow: hidden;
    }

    .sect__title {
        margin: 0 0 18px 0;
        letter-spacing: 2px;
    }

    .sect__para {
        font-size: 14px;
        margin-top: -10px;
        line-height: 1.7;
    }

    .sect2__subtitle {
        font-size: 36px;
        padding: 0 14px;
        letter-spacing: 1.5px;
        line-height: 1.5;

    }

    .service__list {
        flex-direction: column;
        align-items: center;
    }

    .service__list--item {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 0 66px 0;
    }

    .service__pic {
        width: 65px;
    }

    .service__pic--pic {
        width: 24px;
    }

    .service__title {
        text-align: center;
        letter-spacing: 1.7;
    }

    .service__description {
        align-items: center;
        padding: 14px 0 0 0;
    }

    .service__description--para {
        width: 340px;
        padding: 0;
        text-align: center;
    }

    /*  SECTION 3   */

    #section3 {
        overflow: hidden;
    }

    .columns__container {
        flex-direction: column-reverse;
    }

    .column {
        max-width: 500px;
        padding: 0 30px;
    }

    .sect3__column1 {
        padding-top: 62px;
    }

    .sect__subtitle {
        padding: 20px 0 0 0;
        font-size: 30px;
        letter-spacing: 0.75px;
        line-height: 1.325;
    }

    .txt__prpl {
        letter-spacing: 0.75px;
    }

    .sect3__btn {
        padding: 14px 30px;
    }

    /*  SECTION 4   */

    #section4 {
        overflow: hidden;
        padding: 160px 0 0 0;
    }

    .sect4__container {
        flex-direction: column;
        max-width: 500px;
    }

    .sect4__title {
        padding: 60px 0 0 0;
        margin: 0;
        text-align: center;
    }

    .sect4__img {
        width: 100%;
        padding: 0;
    }

    .sect4__column2 {
        padding: 0;
        margin: 0;
    }

    .step {
        flex-direction: column;
        align-items: center;
    }

    .step__num {
        padding: 0 0 8px 0;
    }

    .step__para {
        max-width: 320px;
    }

    .step__description {
        padding: 0;
    }

    /*  SECTION 5   */

    #section5 {
        overflow: hidden;
        padding: 150px 0 0 0;
    }

    .sect5__container {
        flex-direction: column-reverse;
    }

    .sect5__column1 {
        padding: 56px 18px 0 18px;
    }

    .values__container {
        flex-direction: column;
        align-items: center;
    }

    .values__column1,
    .values__column2 {
        padding: 14px 0 0 0;
    }

    .values__column2 {
        padding-top: 40px;
    }

    .values1__title,
    .values2__title {
        justify-content: center;
    }

    .sect5__para {
        padding: 38px 12px 0 12px;
    }

    .value2__para,
    .value1__para {
        padding-top: 24px;
        max-width: 340px;
        font-size: 16px;
    }

    /*  SECTION 6   */

    #section6 {
        overflow: hidden;
        padding-top: 200px;
    }

    .sect6__subtitle {
        font-size: 36px;
        padding-top: 0px;
        line-height: 1.5;
    }

    .sect6__para {
        max-width: 440px;
    }

    .plans__container {
        flex-direction: column;
        padding-top: 66px;
    }

    .pay-plan__container {
        padding: 36px 64px 34px 64px;
    }

    .plan__price {
        font-size: 36px;
        padding-top: 14px;
    }

    .plan__term {
        letter-spacing: 1.5px;
        padding-top: 14px;
    }

    .plan-info__container {
        padding: 16px 80px 22px 80px;
    }

    .plan-info__title {
        font-size: 20px;
        letter-spacing: 0.5px;
        padding: 20px 0 13px 0;
    }

    .plan-info {
        padding: 12px 0;
    }

    .plan-btn {
        padding: 18px 108px;
    }

    .plan {
        margin-bottom: 66px;
    }

    .pay-plan2__container {
        padding: 44px 80px 36px 80px;
    }

    /*  SECTION 7   */

    #section7 {
        overflow: hidden;
        padding-top: 90px;
    }

    .sect7__container {
        flex-direction: column;
    }

    .sect7__column1 {
        padding: 0 32px;
    }

    .sect7__column2 {
        padding: 60px 18px 0 18px;
    }

    .testimonial {
        padding-top: 32px;
        max-width: 430px;
        margin: auto;
    }

    .review__para {
        padding: 20px 18px 0 18px;
    }

    .reviewer__container {
        flex-direction: column;
        padding-top: 60px;
    }

    .reviewer {
        flex-direction: column;
    }

    .arrows {
        justify-content: center;
        margin: 0 0 0 0;
        padding: 28px 0 0 0;
    }

    .reviewer__img {
        width: 66px;
    }

    .reviewer__info {
        padding: 10px 0 0 0;
    }

    /*  SECTION 8   */

    #section8 {
        overflow: hidden;
        padding-top: 200px;
    }

    .decor {
        max-width: 420px;
        max-height: 360px;
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .sect8__container {
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    .contact {
        flex-direction: column;
    }

    .contact__title {
        margin: 0;
        font-size: 24px;
        max-width: 380px;
        text-align: center;
    }

    .sect__buttons {
        flex-direction: column;
        align-items: center;
        padding: 24px 0 0 0;
    }

    .start__btn,
    .contact__btn {
        margin: 0;
        padding: 14px 26px;
        font-size: 14px;
    }

    .contact__btn {
        margin-top: 14px;
    }

    /*  SECTION 9   */

    #section9 {
        overflow: hidden;
        padding-top: 20px;
    }

    .footer__links {
        padding: 46px 0 50px 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .category__container {
        align-items: center;
        padding: 36px 16px 0 16px;
    }

    .links__container {
        flex-wrap: wrap;
        padding: 0 40px;
    }

    .footer__copyright {
        padding: 84px 0 60px 0;
        flex-direction: column;
    }

    .footer__logo {
        padding: 0 0 46px 0;
    }

    .copyright {
        font-size: 14px;
    }

    .socials {
        padding-top: 28px;
    }

    .social__link-container {
        padding: 8px;
    }
}


/* DESKTOPS */

@media (max-width: 1024px) {
    .sect1__container {
        flex-direction: column;
        align-items: center;
    }

    .nav__logo {
        padding-top: 12px;
    }

    .sect1__para {
        text-align: center;
        font-size: 16px;
        margin-top: -12px;
        line-height: 1.5;
        margin-bottom: -12px;
    }

    .sect1__email--container {
        max-width: 448px;
        width: 100%;
    }

    .sect1__column1 {
        max-width: 512px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sect1__column2 {
        max-width: 512px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .sect1__title {
        text-align: center;
    }

    .nav__links {
        display: none;
    }

    .customers {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .customers__para {
        font-size: 14px;
    }

    .customers__logos {
        max-width: 512px;
        width: 100%;
    }

    .sect1__column2 {
        padding-top: 50px;
    }

}

/*
@media (max-width: 1280px) {
    .sect1__title {
    }

    .sect1__container {
        justify-content: space-between;
    }

    .sect1__para {
        font-size: 16px;
    }

    .sect1__column1 {
        padding: 0px;
    }

    .sect1__column2 {
        padding-top: 60px;
    }

    .sect1__img {
        max-width: 600px;
    }

    .customers__logos {
        max-width: 435px;
    }
}

*/
