@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;    
    letter-spacing: 0.025rem;
}

html {
    scroll-behavior: smooth;
}

.row {
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.purple {
    color: rgb(100 21 255);
}

.sect__title {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.0825rem;
}

.sect__subtitle {
    padding-top: 20px;
    font-size: 50px;
    font-weight: 900;
    color: rgb(36, 62, 99);  
}

.sect__para {
    padding-top: 24px;
    line-height: 2rem;
    font-size: 18px;
    font-weight: 500;
    color: rgb(121, 136, 156);
}

#landing {
    padding: 32px 32px;
    max-height: 95vh;
    overflow: hidden;
}

.nav {
    display: flex;
    height: 100%;
    max-height: 44px;
    justify-content: space-between;
}

.nav__links--wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__links--list {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    justify-content: flex-end;
}

.nav__link {
    color: rgb(32, 59, 66);
}
.nav__links--list__item {
    margin: 0 0px;
    padding: 0 24px;
    font-weight: 600;
    font-size: 0.875rem;
}

.nav__links--button {
    padding: 0 0 0 2px;
}

.nav__link--login {
    color: rgb(29, 61, 71);
    margin: 0 0px 0 22px;
}

.nav__btn {
    padding: 12px 32px;
    border-radius: 9999px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.025rem;
    background-color: rgb(100 21 255);
    align-self: flex-end;
    border: none;
}

.nav__logo {
    display: flex;
    justify-content: flex-start;
}
.logo {
    height: 40px;
    width: 40px;
}

.title {
    color: rgb(29, 61, 71);
    display: flex;
    align-items: center;
    padding-left: 12px;
    font-weight: 900;
}

.main__description--input {
    border: solid 2px rgb(219, 219, 219);
    border-radius: 9999px;
    max-width: 485px;
    width: fit-content;
    padding: 0 7px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease;
}

.main__description--input:hover {
    border: solid 2px rgb(143, 143, 143);
}

.main__description--email {
    border: none;
    font-size: 15px;
    opacity: 25%;
    padding-left: 20px;
    font-weight: bold;
    cursor: text;
    outline-style: none;
}

.email__btn {
    background-color: rgb(100 21 255);
    padding: 16px 32px;
    border-radius: 9999px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.main {
    height: 100vh;
    padding-top: 28px;
    max-width: calc(100% - 58%);
    width: 100%;
    text-align: left;
}

.main__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    padding: 100px 0 0 0;
}

.main__img {
    max-width: 760px;
    width: 100%;
}
.main__img--wrapper {
    padding-left: 10px;
    max-width: calc(100% - 40%);
}

.main__description--title {
    font-size: 48px;
    color: rgb(29, 29, 29);
    font-weight: 600;
}

.main__description--para {
    padding: 32px 0 32px 0;
    color: rgb(36, 62, 99);
    line-height: 1.75rem;
    font-weight: 500;
    font-size: 17px;
    text-align: left;
}

.customers {
    margin-top: 80px;
}

.customers--para {
    font-weight: bold;
    font-size: 12px;
    opacity: 0.4;
    padding: 0 0 16px 0;
}

.customers--logos {
    max-width: 400px;
    opacity: 0.4;
}


/*

    FEATURES

*/

.row2 {
    max-width: 1024px;    
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.heading {
    display: flex;
    max-width: 1024px;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.features__para {
    padding-top: 20px;
    max-width: 580px;
    text-align: center;
    color: rgb(136, 152, 175);
    font-weight: 500;
    line-height: 1.7rem;
}

.service__list--wrapper {
    padding: 0 12px 100px 12px;
}
.service__list {
    padding-top: 66px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.service__list--item {
    max-width: calc(100% / 3.0);
    padding: 0 18px 80px 18px;
    width: 100%;
    display: flex;
}

.service__pic {
    padding: 4px;
    border: solid rgb(226, 226, 226) 1px;
    border-radius: 9999px;
    height: 65px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.service__pic--pic {
    width: 26px;
}

.service__description {
    padding-left: 14px;
}

.service__description--para {
    color: rgb(136, 152, 175);
    font-size: 16px;
    padding-top: 16px;
    text-align: left;
    font-weight: 500;
    line-height: 2rem;
}

.service__title {
    font-size: 22px;
    font-weight: bold;
    color: rgb(36, 62, 99);
}


/*

    SECTION 3

*/

#section3 {
    margin-bottom: 200px;
}

.columns__container {
    display: flex;
    padding-top: 80px;

}
.sect3__column1 {
    max-width: calc(100% / 2);
    width: 100%;
    padding-top: 30px;
    padding-right: 50px;
}

.sect3__column2 {
    padding-top: 16px;
    max-width: calc(100% / 2);
    width: 100%;
}

.sect3__img {
    max-width: 100%;
    border: solid 1px rgb(219, 219, 219);
    border-radius: 4px;
}

.sect3__btn {
    background-color: rgb(100 21 255);
    padding: 16px 32px;
    border-radius: 9999px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    letter-spacing: 0.025rem;
}

.sect3__subtitle--wrapper {
    font-size: 50px;
}

.sect3__btn--wrapper {
    padding-top: 28px;
}


/* 

    SECTION 4

*/

#section4 {
    padding-top: 36px;
}

.step__num {
    font-size: 36px;
    font-weight: bold;
    color: rgb(203 213 224);
    opacity: 0.9;
}

.step__title {
    color: rgb(36, 62, 99);
    font-size: 19px;
    font-weight: 600;
}

.step__para {
    color: rgb(127, 142, 164);
    font-size: 14px;
    font-weight: 500;
    max-width: 340px;
    line-height: 2;
    padding-top: 12px;
}

.sect4__column1,
.sect4__column2 {
    max-width: calc(100% / 2);
    width: 100%;
    padding-top: 10px;
}

.sect4__column1 {
    padding-top: 16px;
}
.sect4__column2 {
    margin-left: 64px;
}

.sect4__container {
    display: flex; 
    justify-content: center;
}

.steps__list {
    padding-top: 8px;
}

.step {
    padding: 32px 0 0 0;
    align-items: start;
    display: flex;
}

.step__description {
    padding-left: 24px;
}

.sect4__img {
    max-width: 640px;
    padding-top: 48px;
}




/*

    SECTION 5

*/

#section5 {
    padding-top: 250px;
}

.sect5__container {
    display: flex;
    justify-content: center;
}

.sect5__column1,
.sect5__column2 {
    max-width: calc(100% / 2);
    width: 100%;
}

.sect5__column2 {
    padding-top: 32px;
}

.sect5__column1 {
    padding-right: 64px;
}

.sect5__img {
    max-width: 680px;
    width: 100%;
}

.values2__container {
    padding-left: 40px;
}

.values__container {
    padding-top: 24px;
    display: flex;
    margin-bottom: 24px;
}

.values1__wrapper,
.values2__wrapper {
    display: flex;
    align-items: center;
}

.value1,
.value2 {
    padding-left: 12px;
}

.value1__para,
.value2__para {
    padding-top: 12px;
    font-size: 16px;
    font-weight: 400;
    max-width: 270px;
    line-height: 1.5;
}

.svg__wrapper1,
.svg__wrapper2 {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg__wrapper1 {
    background-color: rgb(154 230 180);
}

.svg__wrapper2 {
    background-color: rgb(254 178 178);
}

.briefcase {
    color: rgb(155 44 44);
}

.dollar-sign {
    color: rgb(39 103 73);
}

.sect5__btn {
    background-color: rgb(100 21 255);
    padding: 14px 31px;
    border-radius: 9999px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.sect5__btn--wrapper {
    padding-top: 24px;
}

/*

    CSS STYLE OBJECTS

*/